@import "../../styles/mixins.scss";

.experience-section {
  @include fullPageCover;
  @include fullScreenCover;
  display: flex;
  padding: 3rem;
  gap: 3rem;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    gap: 1rem;
  }

  .header-experience {
    color: var(--text-color);
    font-size: var(--xxl-font-size);
    letter-spacing: 2px;

    @include mobile {
        font-size: var(--big-font-size);
    }
  }

  .hero-container {
    max-width: 45%;

    @include tablet {
        max-width: 100%;
    }

    .hero-information {
      h2 {
        font-size: var(--h1-font-size);
        color: var(--header-text-color);
        letter-spacing: 1px;
      }

      h3 {
        font-size: var(--h4-font-size);
        color: var(--text-color);
        letter-spacing: 1px;
      }
      .socials-experience-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        a {
          color: inherit;
          font-size: var(--h1-font-size);
          @include defaultTransition;

          &:hover {
            color: var(--header-text-color);
          }
        }
      }
    }
  }

  .experience-container {
    max-width: 45%;

    max-height: 850px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;

    @include tablet {
        max-width: 100%;
    }
  }
}
