@import "../../styles/mixins.scss";

:root {
  --sections-gap: 3rem;
  --arrow-gap: 0.5rem;
  --arrow-gap-hover: 1.5rem;
}

.home-container {
  @include fullPageCover;
  @include flexCenter;
  @include fullScreenCover;
  gap: var(--sections-gap);
  padding: var(--sections-gap);

  .hero-info-container {
    @include flexCenter;
    text-align: center;
    max-width: 50%;
    flex: 1;

    a {
      @include flexCenter;
      gap: var(--arrow-gap);
      color: var(--header-text-color);
      font-size: var(--h1-font-size);
      cursor: pointer;

      .contact-arrow {
        @include defaultTransition;
      }

      &:hover {
        .contact-arrow {
          margin-left: var(--arrow-gap-hover);
        }
      }
    }

    #hero-text {
      color: var(--header-text-color);
      font-size: var(--welcome-font-size);
    }

    #hero-title {
      font-size: var(--big-font-size);
    }

    #hero-content {
      font-size: var(--h4-font-size);
    }

    @include tablet {
      span {
        font-size: var(--h4-font-size);
      }

      #hero-text {
        font-size: var(--xxl-font-size);
      }

      #hero-title {
        font-size: var(--h1-font-size);
      }

      #hero-content {
        font-size: var(--small-font-size);
      }
    }
  }

  .animation-container {
    min-width: 50%;
  }

  @include mobile {
    flex-direction: column;

    .hero-info-container,
    .animation-container {
      max-width: 90%;
    }
  }
}
