@import "../../styles/mixins.scss";

$heroContentLetterSpacing: 3px;

.home-section {
  @include flexCenter;
  gap: 2rem;

  .hero-content-container {
    p {
      font-size: var(--normal-font-size);
      letter-spacing: $heroContentLetterSpacing;
    }

    span {
      letter-spacing: $heroContentLetterSpacing;
      color: var(--primary-highlight-color);
      display: flex;
      gap: 1rem;

      .contact-arrow {
        @include defaultTransition;
      }

      &:hover {
        cursor: pointer;

        .contact-arrow {
          margin-left: var(--m-0-5);
        }
      }
    }

    * {
      margin-bottom: 1rem;
    }
  }
}
