@import "../../styles/mixins.scss";

footer {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: var(--header-text-color);

  .footer-child {
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;

    .footer-content {
      .footer-header-icon {
        font-size: var(--h4-font-size);

        @include tablet {
          font-size: var(--normal-font-size);
        }

        @include mobile {
          font-size: var(--small-font-size);
        }
      }

      display: flex;
      justify-content: space-around;
      padding-top: 2rem;

      h1 {
        color: var(--primary-color);

        @include tablet {
          font-size: var(--h2-font-size);
        }

        @include mobile {
          font-size: var(--h4-font-size);
        }
      }

      .links-container {
        @include flexCenter;
        font-size: var(--h2-font-size);
        color: var(--primary-color);
        gap: 1rem;

        @include tablet {
          font-size: var(--h2-font-size);
        }

        @include mobile {
          font-size: var(--h4-font-size);
        }

        a {
          color: var(--primary-color);
          @include defaultTransition;

          &:hover {
            transform: scale(125%);
          }
        }
      }
    }
  }
}
