@import "../../styles/mixins.scss";

footer {
  width: 100%;
  height: 180px;
  position: relative;

  .footer-child {
    position: fixed;
    height: 180px;
    width: 100%;
    bottom: 0;

    .footer-content {
      .footer-header-icon {
        font-size: var(--h4-font-size);

        @include tablet {
          font-size: var(--normal-font-size);
        }

        @include mobile {
          font-size: var(--small-font-size);
        }
      }

      padding: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: var(--header-text-color);
      color: var(--primary-color);

      .contact-section {
        span {
          @include flexCenter;
          gap: 0.25rem;
        }

        h1 {
          color: var(--primary-color);
          font-size: var(--h4-font-size);

          @include tablet {
            font-size: var(--normal-font-size);
          }

          @include mobile {
            font-size: var(--small-font-size);
          }
        }

        h2 {
          color: var(--primary-color);
          font-size: var(--normal-font-size);

          @include tablet {
            font-size: var(--small-font-size);
          }

          @include mobile {
            font-size: var(--smaller-font-size);
          }
        }
      }

      .find-me-section {
        span {
          @include flexCenter;
          gap: 0.25rem;

          h1 {
            color: var(--primary-color);
            font-size: var(--h4-font-size);

            @include tablet {
              font-size: var(--normal-font-size);
            }

            @include mobile {
              font-size: var(--small-font-size);
            }
          }
        }

        .links-container {
          @include flexCenter;
          gap: 1rem;

          .footer-icon {
            color: var(--primary-color);
            font-size: var(--normal-font-size);
            @include defaultTransition;

            @include tablet {
              font-size: var(--small-font-size);
            }

            @include mobile {
              font-size: var(--smaller-font-size);
            }

            &:hover {
              color: var(--title-color);
            }
          }
        }
      }
    }

    .copyright-content {
      color: var(--header-text-color);

      div {
        @include flexCenter;
        font-size: var(--normal-font-size);

        div {
          margin-left: 1rem;
          display: flex;
          flex-direction: column;
          font-size: var(--tiny-font-size);
        }
      }
    }
  }
}
